@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::selection {
  background-color: #f97316; /* bg-orange-500 */
  color: white;
}

.canvas-container {
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
